:javascript
  function initShapeField() {
    jQuery(function(){
      var latitude = #{field.default_latitude}; 
      var longitude = #{field.default_longitude}; 
      var latlng = new google.maps.LatLng(latitude, longitude);
      var geocoder = new google.maps.Geocoder();

      var myOptions = {
        zoom: #{field.default_zoom_level},
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        scrollwheel: false
      };

      var map = new google.maps.Map(document.getElementById("#{field.dom_name}"), myOptions);


      var locations = {
            "type": "FeatureCollection",
            "features": [
               { "type": "Feature", "properties": { "shape": "Polygon", "name": "Unnamed Layer", "category": "default" }, "editable": true, "geometry": <%= raw field.geo_json %>}
            ]
        };
      map.data.addGeoJson(locations)


      google.maps.event.addListener(map, 'click', function(e) {
        updateLocation(e.latLng);
      });

      google.maps.event.addListener(marker,'dragend',function(e) {
        updateLocation(e.latLng);
      });


      function updateLocation(location) {
        //marker.setPosition(location);
        map.setCenter(location);
      }

    });
  }

= javascript_include_tag ("https://maps.googleapis.com/maps/api/js?key=#{field.google_api_key}&sensor=false&callback=initShapeField")

%style
  = "##{field.dom_name} label {width: auto;display: inline;}"
  = "##{field.dom_name} img {max-width: none;}"

%div.ramf-map-container{:id => field.dom_name, :style => "margin: 20px 0; padding: 0; height: #{field.map_height}px; float: left; width: 100%;"}
%div.control-group
  = form.send :label, field.name, :class => "control-label"
  %div.controls
    = form.send :text_field, field.name, :id => field.shape_dom_name, :class => "form-control"

