:javascript
  var map = {};
  function initShapeField() {
    jQuery(function(){
      var latitude = #{field.default_latitude}; 
      var longitude = #{field.default_longitude}; 
      var latlng = new google.maps.LatLng(latitude, longitude);
      var geocoder = new google.maps.Geocoder();

      var myOptions = {
        zoom: #{field.default_zoom_level},
        center: latlng,
        mapTypeId: google.maps.MapTypeId.SATELLITE,
        scrollwheel: false
      };

      map = new google.maps.Map(document.getElementById("#{field.dom_name}"), myOptions);

      var locations = {
            "type": "FeatureCollection",
            "features": [
               { "type": "Feature", "id": "shape_feature", "properties": { "shape": "Polygon", "category": "default" }, "editable": true, "geometry": #{ raw field.geo_json }}
            ]
        };
      

      var shape = [];
      var ID = 'shape_feature';
      map.data.addGeoJson(locations, ID)
      for (var i = 0; i < map.data.getFeatureById(ID).getGeometry().getLength(); i++) {
        var shapeData = map.data.getFeatureById(ID).getGeometry().getAt(i).getArray();
        shape.push(shapeData);
      }

      map.data.setControls(['Polygon']);
      map.data.setStyle({
        editable: true,
        draggable: true
      });

      nowEditingShape = new google.maps.Polygon({
        paths: shape,
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 2,
        fillColor: '#FF0000',
        fillOpacity: 0.35,
      editable: true
      });
      map.data.remove(map.data.getFeatureById(ID));
      nowEditingShape.setMap(map);


      google.maps.event.addListener(map, 'click', function(e) {
        updateLocation(e.latLng);
      });

      google.maps.event.addListener(marker,'dragend',function(e) {
        updateLocation(e.latLng);
      });


      function updateLocation(location) {
        //marker.setPosition(location);
        map.setCenter(location);
      }

    });
  }

= javascript_include_tag ("https://maps.googleapis.com/maps/api/js?key=#{field.google_api_key}&sensor=false&callback=initShapeField")

%style
  = "##{field.dom_name} label {width: auto;display: inline;}"
  = "##{field.dom_name} img {max-width: none;}"

%div.ramf-map-container{:id => field.dom_name, :style => "margin: 20px 0; padding: 0; height: #{field.map_height}px; float: left; width: 100%;"}
%div.control-group
  = form.send :label, field.name, :class => "control-label"
  %div.controls
    = form.send :text_field, field.name, :id => field.shape_dom_name, :class => "form-control"

